name : Shell commands

on: push

jobs:
    run-shell-command:
      runs-on: ubuntu-latest
      steps:
        - name: echo a string
          run: echo "hello worldsasda"
        - name: crear directorio
          run: |
                mkdir pepe
                cd pepe
                ls /etc >> archivito.txt
                tail archivito.txt
        - name: leer directorio
          run: |
                pwd 
                ls
        - name: multinline script
          run: |
              node -v
              npm -v
